CompileFlags:
  Add:
    - --driver-mode=cl
    - /std:c++17
    - -DOS_WINDOWS=1
    - -DWIN32
    - -D_WINDOWS
    - -DNOMINMAX
    - -DWIN32_LEAN_AND_MEAN
    - -D_HAS_EXCEPTIONS=0
    - -D_WIN32_WINNT=0x602
    - -D_SILENCE_CXX17_RESULT_OF_DEPRECATION_WARNING=1
    - -IE:/code/livecef/include
    - -IE:/code/livecef/src
    - -IE:/code/livecef/_deps/cef_binary_142.0.15+g6dfdb28+chromium-142.0.7444.176_windows64
    - -IE:/code/livecef/_deps/cef_binary_142.0.15+g6dfdb28+chromium-142.0.7444.176_windows64/include
    - -IC:/Qt/Qt5.14.2/5.14.2/msvc2017_64/include
    - -IC:/Qt/Qt5.14.2/5.14.2/msvc2017_64/include/QtCore
    - -IC:/Qt/Qt5.14.2/5.14.2/msvc2017_64/include/QtGui
    - -IC:/Qt/Qt5.14.2/5.14.2/msvc2017_64/include/QtWidgets
    - -imsvcC:/Program Files/Microsoft Visual Studio/18/Community/VC/Tools/MSVC/14.51.36231/include
    - -imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/ucrt
    - -imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/um
    - -imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/shared
    - -imsvcC:/Program Files (x86)/Windows Kits/10/Include/10.0.26100.0/winrt
